{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "CMaS" %}{% endblock %}
{% block title %}{% trans "CMaS" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "CMaS" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<!-- Main Website Window includes style="-webkit-transform:scale(1.2);-moz-transform-scale(1.0);" which is a handy way to resize frames -->
<iframe src="http://cmas.moventas.com" height="605" width="1150" style="-webkit-transform:scale(1.0);-moz-transform-scale(1.0);" allowtransparency="true" frameborder="0" scrolling="auto" onload="resizeIframe(this)"></iframe>
{% endblocktrans %}
{% endblock %}
