{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<!-- Main Website Window includes style="-webkit-transform:scale(1.2);-moz-transform-scale(1.0);" which is a handy way to resize frames -->
<iframe src="http://cmas.moventas.com" height="600" width="1180" style="-webkit-transform:scale(1.2);-moz-transform-scale(1.0);border:none;"></iframe>
{% endblocktrans %}
{% endblock %}
